<!--Просто файлик заглавия для удобства копирования на страницы-->
<!--Заглавие (верхняя лента)-->
<header class="main-header">
    <div class="logo-container">
        <img src="resurses/dnd-logo.png" alt="Логотип D&D" class="main-logo">
    </div>
    <nav class="left-nav">
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="classes.html">Классы</a></li>
            <li><a href="races.html">Расы</a></li>
            <li><a href="spells.html">Заклинания</a></li>
        </ul>
    </nav>
    <div class="current-page">
        <!-- Уникальное имя каждой страницы (на главной оно не нужно) -->
        <span>Классы</span>
    </div>
</header>
